* {
    padding: 0;
    margin: 0;
}

.flexContainer {
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexContainer>* {
    width: 100vw;
    box-sizing: border-box;
}

.imgContainer {
    width: 100%;
}

#imagenDinamica {
    width: 50%;
    margin: 0 auto;
}

@media screen and (min-width: 400px) {
    .flexContainer>* {
        width: 50vw;
    }
}

@media screen and (min-width: 800px) {
    .flexContainer>* {
        width: 25vw;
    }
}

@media screen and (min-width: 1200px) {
    .flexContainer>* {
        width: 20vw;
    }
}